fastapi
uvicorn[standard]
motor
pydantic-settings
python-dotenv
celery
redis
requests
bcrypt==3.2.0 
passlib[bcrypt]==1.7.4 
python-jose 
python-multipart
easyocr
PyMuPDF
pandas
pytesseract
pdf2image
opencv-python-headless
googlemaps
google-api-python-client 
google-auth
google-cloud-aiplatform
